:root{
    --color-blue-400: #2C2D5B;
    --color-blue-200: #E8EEFF;
    --color-simorange: #F67366;
    --color-beige: #FFF6DF;
    --color-grey: #979797;
    --color-grey-400: #333333;
    --color-grey-200: #4F4F4F;
    --color-grey-100: #F4F6F9;
    --color-white: #fff;
    --color-beige-200: #E5E5E5;
}