:root{
    //Size
    --font-size-48: 48px;
    --font-size-40: 40px;
    --font-size-36: 36px;
    --font-size-24: 24px;
    --font-size-18: 18px;
    --font-size-14: 14px;
    --font-size-12: 12px;

    //Weight
    --font-weight-black: 900; 
    --font-weight-extra: 800; 
    --font-weight-bold: 700;
    --font-weight-semi: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400; 
}

.h1{
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-semi);
}

.h1-span{
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-bold);
    color: var(--color-simorange);
}

.text{
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);
    color: var(--color-grey-400);
}

.h2{
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-regular);
}

.h2-span{
    font-weight: var(--font-weight-bold);
}

.h3{
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-black);
}

.h4{
    color: var(--color-blue-400);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-semi);
}

.h4-nav{
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
}

.text-nav{
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
    cursor: pointer;
}